# Welcome to the Dark Art of Coding:
## Introduction to Python for Data Analysis
Pandas: Series & DataFrames

<img src='../universal_images/dark_art_logo.600px.png' width='300' style="float:right">

# Objectives
---

In this session, students should expect to:

* understand the purpose and application of `pandas` to data analysis problems
* understand how to create and use a `Series`
* understand how to create and use a `DataFrame`
* explore various simple examples of pandas usage

# `pandas` basics
---

**`pandas`** is one of the premier data analysis libraries in the Python ecosystem. It offers high-performance, easy-to-use data structures and data analysis tools enabling you to carry out your entire data analysis workflow.

`pandas` is used for:

* data analysis/science
* financial analysis
* data manipulation
* data cleansing
* data transformation

`pandas` has tools to read and write data to and from multiple data formats.

It also includes tools that simplify:

* grouping data
* applying transformations to columns, rows and individual cells
* working with dates and times

# List vs. Dict vs. Series vs. DataFrame
---

To help better understand the `pandas` datatypes, it will help to review existing datatypes that you are already familiar with: `list` and `dict`. In this review, we will compare an contrast techniques to access or view data in `list`s and `dict`s.

## list 
```python                               
mylist = ['A', 'B', 'C']            
```

**indexable**: 

`mylist[0]` indexable by integer            

**sliceable**: 

`mylist[0:2]` sliceable by integer

## dict
```
mydict = {'alpha': 1,
          'beta': 2,
          'gamma': 2}
```

**indexable**: 

`mydict['alpha']` indexable by key

## Series
```
myseries = Series(['bruce', 'selina', 'kara', 'clark], index=[0, 1, 2, 'three'])

          column
rows
0         'bruce'
1         'selina'
2         'kara'
'three'   'clark'
```

**indexable**: 

`myseries[0]` indexable by integer

`myseries['three']` indexable by row name

**sliceable**:

`myseries[0:3]` sliceable by integer

## DataFrame:
```
mydataframe = DataFrame(lots of data... we'll show you how to make a dataframe shortly)

        col1      col2        col3      age
rows
0       'bruce'   'wayne'     'M'       42
1       'selina'  'kyle'      'F'       34
'two'   'kara'    'zor-el'    'F'       27
3       'clark'   'kent'      'M'       35
```

**indexable**

`mydataframe['col1']` indexable by column name (can also be indexed by row)

`mydataframe[['col1', 'age']]` indexable by multiple column/row indicators

# Series
---

In [1]:
# Let's start by making a simple Series.
# It is customary to import pandas by the alias: pd

import pandas as pd
from pandas import Series

s = Series([33, 37, 27, 42])

# pandas will assign an index automatically starting at "0"

s

0    33
1    37
2    27
3    42
dtype: int64

In [2]:
# We can see that the object is a Series object
type(s)

pandas.core.series.Series

In [3]:
s[0]

33

So, what's the difference between a `Series` and a `list`?

In [4]:
l = [33, 37, 27, 42]

In [ ]:
# Let's use tab completion to explore the difference
# l.<tab complete>

l.

# There are 11 methods/attributes associated with lists...

In [5]:
# s.<tab complete>

s.
# There are 226 methods/attributes associated with lists...
# len(list(attr for attr in dir(s) if not attr.startswith('_')))

34.75

In [6]:
# Series objects can be assigned a name 
# The index (0, 1, 2...) can also be assigned directly/overwritten.

s.name = 'Justice League ages'
s.index = ['bruce', 'selina', 'kara', 'clark']

s

bruce     33
selina    37
kara      27
clark     42
Name: Justice League ages, dtype: int64

In [7]:
s['kara']

27

In [10]:
# NOTE: The Series factory function allows you to assign attributes
#     such as the index directly.

s1 = Series([37, 36, 10, 36],
            index=['hal', 'victor', 'diana', 'billy'],
            name='More Justice League ages')
s1

# Generally, any ordered iterable can be used to produce the inputs
#     to a Series. We used a list here.
#     range(), generators, arrays, are also acceptable inputs.

hal       37
victor    36
diana     10
billy     36
Name: More Justice League ages, dtype: int64

In [11]:
# Accessing a row directly uses brackets and the 
#     name of the row.

s1['billy']

36

In [12]:
# Accessing multiple rows uses the names of 
#     the rows embedded in an iterable (i.e. a list)

s1[['billy', 'hal', 'victor']]

billy     36
hal       37
victor    36
Name: More Justice League ages, dtype: int64

In [13]:
# Accessing multiple rows may also use slice notation.
#     slice notation can often be used with both integer indexes and
#     string indexes.
# Here we use string indexes... 

s1['hal':'diana']

hal       37
victor    36
diana     10
Name: More Justice League ages, dtype: int64

In [14]:
# slice notation using integers still works even if we have 
#     applied a string-based index.
# Here we use integer indexes... but NOTE: the difference in behavior
# * string indexing includes the last element.
# * integer indexing behaves more like Python and goes up to but does NOT include
#   the last element

s1[0:2]

hal       37
victor    36
Name: More Justice League ages, dtype: int64

In [15]:
# We can also index the Series using a list of items:
# NOTE: the order of the result matches the order of our
#     selection

s1[['billy', 'hal', 'diana']]

billy    36
hal      37
diana    10
Name: More Justice League ages, dtype: int64

In [16]:
# Similarly, assignment of a value to a specific row
#     uses bracket indexing and behaves similar to 
#     a list OR dict

s1['diana'] = 32
s1

hal       37
victor    36
diana     32
billy     36
Name: More Justice League ages, dtype: int64

It is possible to check to see if an element in a `Series` matches a specific value

In [17]:
s1['billy'] == 35

False

More holistically, it is possible to see which elements in a `Series` matches a specific value.

In [18]:
s1 == 32

hal       False
victor    False
diana      True
billy     False
Name: More Justice League ages, dtype: bool

In [19]:
result = s1 == 36

print(type(result), result, sep='\n\n')

<class 'pandas.core.series.Series'>

hal       False
victor     True
diana     False
billy      True
Name: More Justice League ages, dtype: bool

In [20]:
# Rows can be filtered using any such sequence of True and False

s1[result]

victor    36
billy     36
Name: More Justice League ages, dtype: int64

In [21]:
# We can also use any of the standard comparison operators
#     ==
#     <= 
#     >=
#     <
#     >
#
# In addition, there is no need to save the True/False series... you can do the evaluation
#     inside the indexing brackets

s1[s1 >= 33]

hal       37
victor    36
billy     36
Name: More Justice League ages, dtype: int64

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_series_01.py```

Create a pandas Series called `restaurant_ratings` according to the following guidelines:

* starting at the top, each row should contain one number from 1 to 5 (inclusive)
* give the series a `.name` called ratings
* give the series a `.index` with the names of five restaurants

Execute your script in **Jupyter** using the command:

```bash
run my_series_01.py```


From Jupyter, explore your `Series` object (`restaurant_ratings`) by performing our typical explorations:
* `type()`
* `.<tab complete>`

Also look at the attributes you have added: 

* `.name`
* `.index`

Lastly extract particular records from your `Series`:

* Choose a record from the `Series` using the name of one of your restaurants
* Choose three records from the `Series` using a list of names of restaurants

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own pace, please feel free to do so.

<img src='../universal_images/green_sticky.300px.png' width='200' style='float:left'>

In [ ]:
run soln_series_01.py

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_series_02.py```

Create a pandas `Series` called `bacteria_lengths` according to the following guidelines:

* starting at the top, each row should contain one number from 1 to 5000 (inclusive) incrementing by 100
* give the `Series` a `.name` called length
* NOTE: do not worry about a `.index` for this `Series`. Simply use the default indexing that `Series` provide.

Execute your script from the **terminal/command line** using the command:

```bash
ipython -i my_series_02.py```


From the IPython Interpreter, explore your Series object by performing our typical explorations:
* `type()`
* `.<tab complete>`

Also look at the attributes you have added or that were created by default: 

* `.name`
* `.index`

Lastly extract particular records from your Series:

* Choose a record from the Series at index 23
* Choose three records from the Series at index 23-25

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../universal_images/green_sticky.300px.png' width='200' style='float:left'>

In [27]:
run soln_series_02.py

In [28]:
bacteria_lengths[23]

2301

In [29]:
bacteria_lengths[23:26]

23    2301
24    2401
25    2501
Name: lengths, dtype: int64

In [30]:
# Much like numpy, pandas Series (and DataFrames)
#     offer vector mathematics whereby you can add to
#     or multiply against all rows or cells
#     WITHOUT using a for loop.

s1 * 2

hal       74
victor    72
diana     64
billy     72
Name: More Justice League ages, dtype: int64

In [31]:
s1

hal       37
victor    36
diana     32
billy     36
Name: More Justice League ages, dtype: int64

In [32]:
# Knowing that the selection of specific elements from a Series simply returns
#     a Series, we can also perform vector multiplication against a 
#     selection

s1[['diana', 'billy']] * 20

diana    640
billy    720
Name: More Justice League ages, dtype: int64

In [33]:
s1

hal       37
victor    36
diana     32
billy     36
Name: More Justice League ages, dtype: int64

In [34]:
# Testing for inclusion in a Series behaves as with a list

'diana' in s1

True

In [35]:
# A test for inclusion in a list, for comparison

42 in [1, 2, 3, 4]

False

In [36]:
'lex' in s1

False

In [37]:
# Series can be built in many ways, including using a dictionary
#     to populate the row labels and the row contents

names = {'bruce wayne': 'bwayne@jleague.org',
         'hal jordan': 'hjordan@jleague.org',
         'clark kent': 'ckent@jleague.org',
         'barry allen': 'ballen@jleague.org',
         'diana prince': 'dprince@jleague.org',
         'arthur curry': 'acurry@jleague.org',
         'billy batson': 'bbatson@jleague.org',
         'john jones': 'jjones@jleague.org',
         'victor stone': 'vstone@jleague.org',
         'dick grayson': 'dgrayson@jleague.org',
         'ray palmer': 'rpalmer@jleague.org',
         'dinah lance': 'dlance@jleague.org',
         'kara zor-el': 'kzor-el@jleague.org',
         'john constantine': 'jconstantine@jleague.org',
         'barbara gordon': 'bgordon@jleague.org',
         'kyle rayner': 'krayner@jleague.org',
         'selina kyle': 'skyle@jleague.org',
         'wally west': 'wwest@jleague.org',
         }

emails = Series(names)
# emails.index
# emails.values

In [38]:
emails

bruce wayne               bwayne@jleague.org
hal jordan               hjordan@jleague.org
clark kent                 ckent@jleague.org
barry allen               ballen@jleague.org
diana prince             dprince@jleague.org
arthur curry              acurry@jleague.org
billy batson             bbatson@jleague.org
john jones                jjones@jleague.org
victor stone              vstone@jleague.org
dick grayson            dgrayson@jleague.org
ray palmer               rpalmer@jleague.org
dinah lance               dlance@jleague.org
kara zor-el              kzor-el@jleague.org
john constantine    jconstantine@jleague.org
barbara gordon           bgordon@jleague.org
kyle rayner              krayner@jleague.org
selina kyle                skyle@jleague.org
wally west                 wwest@jleague.org
dtype: object

In [39]:
emails[    ['barry allen',  'selina kyle']     ]

barry allen    ballen@jleague.org
selina kyle     skyle@jleague.org
dtype: object

# Analyzing data
---

In [40]:
s1 = Series(range(10, 16), index=['a', 'b', 'c', 'd', 'e', 'f'])
s2 = Series(range(16, 22), index=['a', 'b', 'c', 'x', 'y', 'z'])

# s1
# s2

In [41]:
s2

a    16
b    17
c    18
x    19
y    20
z    21
dtype: int64

In [42]:
s1

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int64

In [43]:
s3 = s1 + s2
s3

# type(s3)
# pd.isnull(s3)
# s3.isnull()
# s3.<tab>

a    26.0
b    28.0
c    30.0
d     NaN
e     NaN
f     NaN
x     NaN
y     NaN
z     NaN
dtype: float64

In [44]:
pd.concat([s1, s2], ignore_index=True)

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
dtype: int64

In [ ]:
# How do I learn more?
# s3.<method_name>?        # just ask by typing the method name (sans parenthesis) and 
#                          # adding a question mark to see the builtin help docs
# 
# s3.value_counts?
# s3.value_counts(dropna=False)

In [45]:
s3.value_counts?

Signature:
s3.value_counts(
    normalize: 'bool' = False,
    sort: 'bool' = True,
    ascending: 'bool' = False,
    bins=None,
    dropna: 'bool' = True,
)
Docstring:
Return a Series containing counts of unique values.

The resulting object will be in descending order so that the
first element is the most frequently-occurring element.
Excludes NA values by default.

Parameters
----------
normalize : bool, default False
    If True then the object returned will contain the relative
    frequencies of the unique values.
sort : bool, default True
    Sort by frequencies.
ascending : bool, default False
    Sort in ascending order.
bins : int, optional
    Rather than count values, group them into half-open bins,
    a convenience for ``pd.cut``, only works with numeric data.
dropna : bool, default True
    Don't include counts of NaN.

Returns
-------
Series

See Also
--------
Series.count: Number of non-NA elements in a Series.
DataFrame.count: Number of non-NA elements in a DataFrame.
DataFrame.value_counts: Equivalent method on DataFrames.

Examples
--------
>>> index = pd.Index([3, 1, 2, 3, 4, np.nan])
>>> index.value_counts()
3.0    2
1.0    1
2.0    1
4.0    1
dtype: int64

With `normalize` set to `True`, returns the relative frequency by
dividing all values by the sum of values.

>>> s = pd.Series([3, 1, 2, 3, 4, np.nan])
>>> s.value_counts(normalize=True)
3.0    0.4
1.0    0.2
2.0    0.2
4.0    0.2
dtype: float64

**bins**

Bins can be useful for going from a continuous variable to a
categorical variable; instead of counting unique
apparitions of values, divide the index in the specified
number of half-open bins.

>>> s.value_counts(bins=3)
(0.996, 2.0]    2
(2.0, 3.0]      2
(3.0, 4.0]      1
dtype: int64

**dropna**

With `dropna` set to `False` we can also see NaN index values.

>>> s.value_counts(dropna=False)
3.0    2
1.0    1
2.0    1
4.0    1
NaN    1
dtype: int64
File:      ~/opt/miniconda3/lib/python3.8/site-packages/pandas/core/base.py
Type:      method

In [46]:
s3.value_counts(dropna=False, ascending=True)

26.0    1
28.0    1
30.0    1
NaN     6
dtype: int64

In [47]:
s3.dropna()
# s3

a    26.0
b    28.0
c    30.0
dtype: float64

In [48]:
s4 = Series([42, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 4, 5, 6])

# s4.unique()
# s4.value_counts()
# s4.max()
# s4 + 2

In [49]:
s4.value_counts()

3     6
1     3
2     2
42    1
4     1
5     1
6     1
dtype: int64

In [50]:
def transmogrifier(x):
    '''hat tip to Calvin and Hobbes for introducing me to this 
    truly fantastic word. thanks, bill watterson.

    "transform, especially in a surprising or magical manner."
    '''
    new_val = '- ' + str(x ** 3) + ' -'
    return new_val

In [51]:
s4.apply(transmogrifier)

0     - 74088 -
1         - 1 -
2         - 1 -
3         - 1 -
4         - 8 -
5         - 8 -
6        - 27 -
7        - 27 -
8        - 27 -
9        - 27 -
10       - 27 -
11       - 27 -
12       - 64 -
13      - 125 -
14      - 216 -
dtype: object

# DataFrames
---

In [52]:
from pandas import DataFrame

In [53]:
# Making a DataFrame # 1
# Using a dictionary:

data = {'hero': ['billy', 'billy', 'billy', 'selina', 'selina'],
        'date': ['Jan 10', 'Jan 11', 'Jan 12', 'Jan 10', 'Jan 11'],
        'emails': [111, 121, 93, 211, 210]}

df = DataFrame(data)
df

     hero    date  emails
0   billy  Jan 10     111
1   billy  Jan 11     121
2   billy  Jan 12      93
3  selina  Jan 10     211
4  selina  Jan 11     210

In [54]:
df = DataFrame(data, columns=['date', 'hero', 'emails'])
df

     date    hero  emails
0  Jan 10   billy     111
1  Jan 11   billy     121
2  Jan 12   billy      93
3  Jan 10  selina     211
4  Jan 11  selina     210

In [55]:
df = DataFrame(data, columns=['date', 'hero', 'emails', 'instagrams'],
               index=[1, 2, 3, 4, 5])
df

# df
# df.columns

     date    hero  emails instagrams
1  Jan 10   billy     111        NaN
2  Jan 11   billy     121        NaN
3  Jan 12   billy      93        NaN
4  Jan 10  selina     211        NaN
5  Jan 11  selina     210        NaN

In [56]:
df['instagrams'] = 42

In [57]:
df

     date    hero  emails  instagrams
1  Jan 10   billy     111          42
2  Jan 11   billy     121          42
3  Jan 12   billy      93          42
4  Jan 10  selina     211          42
5  Jan 11  selina     210          42

In [58]:
df[['date', 'emails']]

     date  emails
1  Jan 10     111
2  Jan 11     121
3  Jan 12      93
4  Jan 10     211
5  Jan 11     210

In [59]:
# df['hero']
# df.hero

df.loc[1]

date          Jan 10
hero           billy
emails           111
instagrams        42
Name: 1, dtype: object

In [60]:
df.loc[1:2]

     date   hero  emails  instagrams
1  Jan 10  billy     111          42
2  Jan 11  billy     121          42

In [61]:
df.loc[1:4:2]

     date   hero  emails  instagrams
1  Jan 10  billy     111          42
3  Jan 12  billy      93          42

In [62]:
from pandas import Series

df.instagrams = 50

In [63]:
df.emails

1    111
2    121
3     93
4    211
5    210
Name: emails, dtype: int64

In [64]:
ins = Series([10, 20, 30], index=[0, 2, 4])
ins

0    10
2    20
4    30
dtype: int64

In [65]:
df['instagrams'] = ins
df

     date    hero  emails  instagrams
1  Jan 10   billy     111         NaN
2  Jan 11   billy     121        20.0
3  Jan 12   billy      93         NaN
4  Jan 10  selina     211        30.0
5  Jan 11  selina     210         NaN

In [66]:
# If you want to add a new column, dataframes are completely
#     mutable: columns can be added at will.

df['overworked'] = df['emails'] >= 120
df

     date    hero  emails  instagrams  overworked
1  Jan 10   billy     111         NaN       False
2  Jan 11   billy     121        20.0        True
3  Jan 12   billy      93         NaN       False
4  Jan 10  selina     211        30.0        True
5  Jan 11  selina     210         NaN        True

In [67]:
df[    df['overworked'] == False       ]

     date   hero  emails  instagrams  overworked
1  Jan 10  billy     111         NaN       False
3  Jan 12  billy      93         NaN       False

In [68]:
# If you want to add a new column, dataframes are completely
#     mutable: columns can be added at will.

standalone_series = df['emails'] >= 120
standalone_series

1    False
2     True
3    False
4     True
5     True
Name: emails, dtype: bool

In [69]:
mask = df['instagrams'] != 20.0
mask

1     True
2    False
3     True
4     True
5     True
Name: instagrams, dtype: bool

In [70]:
df[mask]

     date    hero  emails  instagrams  overworked
1  Jan 10   billy     111         NaN       False
3  Jan 12   billy      93         NaN       False
4  Jan 10  selina     211        30.0        True
5  Jan 11  selina     210         NaN        True

In [72]:
df[df['date'] != 'Jan 10']

     date    hero  emails  instagrams  overworked
2  Jan 11   billy     121        20.0        True
3  Jan 12   billy      93         NaN       False
5  Jan 11  selina     210         NaN        True

In [73]:
# Making a DataFrame # 2
# Using a dictionary with nested dictionaries...

data = {'billy': {'Jan 10': 202, 'Jan 11': 220, 'Jan 12': 198},
        'selina': {'Jan 09': 246, 'Jan 10': 235, 'Jan 11': 243}}

In [74]:
df2 = DataFrame(data)
df2

        billy  selina
Jan 10  202.0   235.0
Jan 11  220.0   243.0
Jan 12  198.0     NaN
Jan 09    NaN   246.0

In [75]:
# df2.T
dft = df2.T
dft

        Jan 10  Jan 11  Jan 12  Jan 09
billy    202.0   220.0   198.0     NaN
selina   235.0   243.0     NaN   246.0

In [76]:
dft.columns.name = 'date'
dft.index.name = 'hero'

In [77]:
dft

date    Jan 10  Jan 11  Jan 12  Jan 09
hero
billy    202.0   220.0   198.0     NaN
selina   235.0   243.0     NaN   246.0

In [78]:
# using indexes
nums = Series(range(10, 16),
              index=['t', 'u', 'v', 'x', 'y', 'z'])
nums

t    10
u    11
v    12
x    13
y    14
z    15
dtype: int64

In [79]:
i = nums.index
print(type(i), i)

<class 'pandas.core.indexes.base.Index'> Index(['t', 'u', 'v', 'x', 'y', 'z'], dtype='object')

In [80]:
i[::3]

# i[2:4]
# i[::2]
# i[::3]
# i[4]

Index(['t', 'x'], dtype='object')

In [82]:
logs = pd.read_csv('../universal_datasets/log_file_1000.csv', names=['name',
                                               'email',
                                               'fm_ip',
                                               'to_ip',
                                               'date_time',
                                               'lat',
                                               'long',
                                               'payload_size'])

In [83]:
logs

,name,email,fm_ip,to_ip,date_time,lat,long,payload_size
0,barry allen,ballen@jleague.org,155.130.121.215,75.122.133.241,2016-02-08T21:44:41,49.83160,8.01485,764272
1,arthur curry,acurry@jleague.org,106.152.115.161,106.152.114.248,2016-02-08T21:45:37,45.10327,11.68293,249206
2,john jones,jjones@jleague.org,60.15.193.250,155.130.121.215,2016-02-08T21:46:53,47.11673,10.35874,856820
3,wally west,wwest@jleague.org,190.214.22.201,190.214.22.116,2016-02-07T21:47:12,46.75616,11.47886,593774
4,arthur curry,acurry@jleague.org,60.15.193.74,60.15.193.95,2016-02-07T21:48:04,48.59134,12.30683,171910
...,...,...,...,...,...,...,...,...
995,clark kent,ckent@jleague.org,106.152.114.248,60.15.193.249,2015-09-05T11:29:55,48.90180,12.26173,572009
996,billy batson,bbatson@jleague.org,102.86.56.213,60.15.193.95,2015-09-05T11:31:10,46.79957,11.39590,520973
997,bruce wayne,bwayne@jleague.org,60.15.193.95,75.122.133.10,2015-09-05T11:31:47,47.22726,8.13069,193138
998,ray palmer,rpalmer@jleague.org,155.130.121.215,169.28.228.152,2015-09-04T11:32:18,48.28877,9.67684,575482
999,bruce wayne,bwayne@jleague.org,190.214.22.116,106.152.114.9,2015-09-04T11:32:52,45.43995,11.83160,42810

In [84]:
pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePathOrBuffer',
    sep=<no_default>,
    delimiter=None,
    header='infer',
    names=<no_default>,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=<no_default>,
    mangle_dupe_cols=True,
    dtype: 'DtypeArg | None' = None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    cache_dates=True,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal: 'str' = '.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    encoding_errors: 'str | None' = 'strict',
    dialect=None,
    error_bad_lines=None,
    warn_bad_lines=None,
    on_bad_lines=None,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
    storage_options: 'StorageOptions' = None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.
thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, default ``None``
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will be dropped from the DataFrame that is
    returned.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
warn_bad_lines : bool, default ``None``
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
on_bad_lines : {'error', 'warn', 'skip'}, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are ``None`` or 'high' for the ordinary converter,
    'legacy' for the original lower precision pandas converter, and
    'round_trip' for the round-trip converter.

    .. versionchanged:: 1.2

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      ~/opt/miniconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py
Type:      function

In [85]:
logs['fm_ip'].unique()

array(['155.130.121.215', '106.152.115.161', '60.15.193.250',
       '190.214.22.201', '60.15.193.74', '106.152.114.248',
       '60.15.193.95', '220.211.18.48', '220.211.18.31', '190.214.22.116',
       '155.130.121.6', '106.152.114.9', '102.86.56.199',
       '75.122.132.124', '190.214.22.94', '60.15.193.249',
       '155.130.120.114', '75.122.133.75', '220.211.18.12',
       '102.86.56.213', '169.28.228.153', '102.86.56.243',
       '102.86.56.203', '106.152.115.130', '190.214.22.59',
       '75.122.133.241', '75.122.133.10', '169.28.228.152',
       '155.130.121.22', '106.152.115.49'], dtype=object)

In [86]:
logs['name'].value_counts()

kyle rayner         63
kara zor-el         62
victor stone        62
clark kent          62
barbara gordon      62
diana prince        61
hal jordan          61
arthur curry        60
john jones          57
bruce wayne         55
ray palmer          54
dinah lance         53
billy batson        52
dick grayson        51
wally west          50
john constantine    46
selina kyle         46
barry allen         43
Name: name, dtype: int64

In [87]:
logs['name'].tail(13)

987        dick grayson
988        dick grayson
989        arthur curry
990        arthur curry
991      barbara gordon
992    john constantine
993        arthur curry
994         selina kyle
995          clark kent
996        billy batson
997         bruce wayne
998          ray palmer
999         bruce wayne
Name: name, dtype: object

In [88]:
g = logs.groupby(logs['fm_ip'])

type(g)

pandas.core.groupby.generic.DataFrameGroupBy

In [89]:
g.ngroups

30

In [90]:
g.first()

,name,email,to_ip,date_time,lat,long,payload_size
fm_ip,,,,,,,
102.86.56.199,diana prince,dprince@jleague.org,60.15.193.74,2016-02-05T21:56:07,47.64781,11.90056,622470
102.86.56.203,hal jordan,hjordan@jleague.org,102.86.56.213,2016-01-31T22:15:49,46.56542,11.10410,481866
102.86.56.213,hal jordan,hjordan@jleague.org,102.86.56.213,2016-01-31T22:13:56,45.45445,11.04130,625106
102.86.56.243,bruce wayne,bwayne@jleague.org,106.152.115.49,2016-01-31T22:15:03,45.67383,9.92100,768775
106.152.114.248,ray palmer,rpalmer@jleague.org,102.86.56.203,2016-02-07T21:48:54,45.23082,10.90642,300389
106.152.114.9,barry allen,ballen@jleague.org,102.86.56.243,2016-02-05T21:54:59,48.03074,10.41633,87758
106.152.115.130,dick grayson,dgrayson@jleague.org,220.211.18.31,2016-01-29T22:26:49,48.17151,10.57354,426194
106.152.115.161,arthur curry,acurry@jleague.org,106.152.114.248,2016-02-08T21:45:37,45.10327,11.68293,249206
106.152.115.49,barbara gordon,bgordon@jleague.org,220.211.18.12,2016-01-05T00:54:23,46.25667,12.25382,671268
155.130.120.114,diana prince,dprince@jleague.org,106.152.114.9,2016-02-03T22:03:55,49.89778,8.25535,174355
155.130.121.215,barry allen,ballen@jleague.org,75.122.133.241,2016-02-08T21:44:41,49.83160,8.01485,764272
155.130.121.22,victor stone,vstone@jleague.org,190.214.22.59,2016-01-23T22:56:53,48.80716,10.15358,213777
155.130.121.6,ray palmer,rpalmer@jleague.org,102.86.56.213,2016-02-05T21:54:23,47.48082,9.57450,4326
169.28.228.152,arthur curry,acurry@jleague.org,106.152.115.130,2016-01-25T22:49:20,45.17658,12.06295,554822
169.28.228.153,john constantine,jconstantine@jleague.org,60.15.193.250,2016-01-31T22:14:51,46.01856,10.41036,57484
190.214.22.116,wally west,wwest@jleague.org,190.214.22.116,2016-02-05T21:53:19,47.52949,10.77212,277001
190.214.22.201,wally west,wwest@jleague.org,190.214.22.116,2016-02-07T21:47:12,46.75616,11.47886,593774
190.214.22.59,barry allen,ballen@jleague.org,60.15.193.249,2016-01-28T22:33:38,46.08559,9.52741,342518
190.214.22.94,john jones,jjones@jleague.org,190.214.22.201,2016-02-05T21:59:05,46.21873,9.56542,87829
220.211.18.12,kara zor-el,kzor-el@jleague.org,169.28.228.153,2016-02-01T22:10:11,49.79903,9.05303,631114
220.211.18.31,bruce wayne,bwayne@jleague.org,190.214.22.94,2016-02-05T21:52:27,49.73236,11.51376,390646
220.211.18.48,kyle rayner,krayner@jleague.org,106.152.115.49,2016-02-07T21:49:26,48.85730,9.23887,421284
60.15.193.249,barbara gordon,bgordon@jleague.org,106.152.115.49,2016-02-04T21:59:41,49.55200,11.59746,567714
60.15.193.250,john jones,jjones@jleague.org,155.130.121.215,2016-02-08T21:46:53,47.11673,10.35874,856820
60.15.193.74,arthur curry,acurry@jleague.org,60.15.193.95,2016-02-07T21:48:04,48.59134,12.30683,171910
60.15.193.95,victor stone,vstone@jleague.org,155.130.121.215,2016-02-07T21:49:02,48.20129,10.54183,916813
75.122.132.124,arthur curry,acurry@jleague.org,102.86.56.243,2016-02-05T21:57:39,47.30706,8.47864,212859
75.122.133.10,wally west,wwest@jleague.org,155.130.120.114,2016-01-28T22:38:05,47.17551,9.02421,478151
75.122.133.241,dinah lance,dlance@jleague.org,190.214.22.94,2016-01-28T22:36:44,47.71897,10.77419,901550
75.122.133.75,kara zor-el,kzor-el@jleague.org,60.15.193.249,2016-02-01T22:09:44,46.68394,10.58863,182642

In [91]:
for item in g:
    print(item)

('102.86.56.199',                name                 email          fm_ip            to_ip  \
15     diana prince   dprince@jleague.org  102.86.56.199     60.15.193.74
22       wally west     wwest@jleague.org  102.86.56.199    106.152.114.9
51     victor stone    vstone@jleague.org  102.86.56.199   169.28.228.153
55     dick grayson  dgrayson@jleague.org  102.86.56.199    60.15.193.250
66      barry allen    ballen@jleague.org  102.86.56.199   75.122.132.124
91     arthur curry    acurry@jleague.org  102.86.56.199   155.130.121.22
106    victor stone    vstone@jleague.org  102.86.56.199   169.28.228.152
127    billy batson   bbatson@jleague.org  102.86.56.199    102.86.56.243
143      ray palmer   rpalmer@jleague.org  102.86.56.199   169.28.228.152
170  barbara gordon   bgordon@jleague.org  102.86.56.199   190.214.22.116
189    billy batson   bbatson@jleague.org  102.86.56.199    106.152.114.9
212      john jones    jjones@jleague.org  102.86.56.199  155.130.120.114
230    billy batson   bbatson@jleague.org  102.86.56.199    102.86.56.199
232    victor stone    vstone@jleague.org  102.86.56.199    190.214.22.59
366      hal jordan   hjordan@jleague.org  102.86.56.199   75.122.133.241
445     kara zor-el   kzor-el@jleague.org  102.86.56.199    190.214.22.59
462      hal jordan   hjordan@jleague.org  102.86.56.199    75.122.133.10
494  barbara gordon   bgordon@jleague.org  102.86.56.199  106.152.115.130
502     dinah lance    dlance@jleague.org  102.86.56.199   190.214.22.116
513      ray palmer   rpalmer@jleague.org  102.86.56.199   169.28.228.152
516    arthur curry    acurry@jleague.org  102.86.56.199   190.214.22.201
532      john jones    jjones@jleague.org  102.86.56.199  106.152.114.248
613    arthur curry    acurry@jleague.org  102.86.56.199   169.28.228.152
674     kyle rayner   krayner@jleague.org  102.86.56.199    75.122.133.75
703     kyle rayner   krayner@jleague.org  102.86.56.199    60.15.193.250
711      clark kent     ckent@jleague.org  102.86.56.199    190.214.22.59
739    victor stone    vstone@jleague.org  102.86.56.199   155.130.121.22
797      hal jordan   hjordan@jleague.org  102.86.56.199  106.152.115.161
816     kara zor-el   kzor-el@jleague.org  102.86.56.199    190.214.22.94
825  barbara gordon   bgordon@jleague.org  102.86.56.199    220.211.18.48
898     bruce wayne    bwayne@jleague.org  102.86.56.199  106.152.115.161
931     selina kyle     skyle@jleague.org  102.86.56.199   190.214.22.201
951      clark kent     ckent@jleague.org  102.86.56.199    220.211.18.12

               date_time       lat      long  payload_size
15   2016-02-05T21:56:07  47.64781  11.90056        622470
22   2016-02-03T22:03:50  46.15439   8.44537         70718
51   2016-01-29T22:27:34  45.89511   7.61965        473634
55   2016-01-29T22:30:12  48.01602  11.12864        200218
66   2016-01-28T22:39:07  47.03203  10.25295        533954
91   2016-01-22T22:58:18  48.08295   9.97258        705943
106  2016-01-20T23:11:17  47.28659  10.82497        488280
127  2016-01-18T23:29:30  48.26096   9.56513        591092
143  2016-01-16T23:43:40  49.04819   9.53630        837280
170  2016-01-12T00:08:31  45.93061   9.71443        859529
189  2016-01-10T00:23:37  49.15593   8.68977        134580
212  2016-01-06T00:46:20  49.12655   9.63351        903271
230  2016-01-03T01:02:42  47.33507  11.86756        736322
232  2016-01-03T01:04:36  49.95577   7.72839          7653
366  2015-12-09T02:54:48  47.10089   8.63310        953341
445  2015-11-21T03:53:57  45.74803   7.86320        701119
462  2015-11-18T04:08:44  49.70399  10.25626        842406
494  2015-11-15T04:32:57  46.51024  12.06447        468305
502  2015-11-15T04:39:37  45.59097   8.86094        277692
513  2015-11-15T04:48:29  45.72306  11.22459         24754
516  2015-11-15T04:51:10  46.60097  10.19105        124583
532  2015-11-14T05:04:19  46.13523  12.04966        806481
613  2015-11-03T06:10:55  45.76071   9.91049         12319
674  2015-10-24T06:57:38  46.18192   9.58819        464242
703  2015-10-18T07:23:58  46.66324   8.12973        336638
711  2015-10-18T07:30:43  47.31628  11.60940        960979
739  2015-10-14T07:55:14  46.31005  11.96387        869483
797  2015-10-06T08:40:05  47.41461  11.67707        508455
816  2015-10-02T08:58:29  49.96449   9.25854        265500
825  2015-09-29T09:08:12  49.86196  12.15116        723761
898  2015-09-17T10:11:59  46.25911   9.68972        679358
931  2015-09-15T10:40:06  48.89191  10.36719        718781
951  2015-09-12T10:54:23  47.17082  11.00105        975623  )
('102.86.56.203',                  name                     email          fm_ip  \
37         hal jordan       hjordan@jleague.org  102.86.56.203
69         ray palmer       rpalmer@jleague.org  102.86.56.203
145       selina kyle         skyle@jleague.org  102.86.56.203
163        ray palmer       rpalmer@jleague.org  102.86.56.203
184       bruce wayne        bwayne@jleague.org  102.86.56.203
190  john constantine  jconstantine@jleague.org  102.86.56.203
202      victor stone        vstone@jleague.org  102.86.56.203
291       selina kyle         skyle@jleague.org  102.86.56.203
295       kyle rayner       krayner@jleague.org  102.86.56.203
321      arthur curry        acurry@jleague.org  102.86.56.203
327      diana prince       dprince@jleague.org  102.86.56.203
452        clark kent         ckent@jleague.org  102.86.56.203
492        john jones        jjones@jleague.org  102.86.56.203
522    barbara gordon       bgordon@jleague.org  102.86.56.203
584        clark kent         ckent@jleague.org  102.86.56.203
587       kara zor-el       kzor-el@jleague.org  102.86.56.203
630      arthur curry        acurry@jleague.org  102.86.56.203
651       kara zor-el       kzor-el@jleague.org  102.86.56.203
719        hal jordan       hjordan@jleague.org  102.86.56.203
721      diana prince       dprince@jleague.org  102.86.56.203
731  john constantine  jconstantine@jleague.org  102.86.56.203
734        john jones        jjones@jleague.org  102.86.56.203
749        wally west         wwest@jleague.org  102.86.56.203
774      diana prince       dprince@jleague.org  102.86.56.203
783      victor stone        vstone@jleague.org  102.86.56.203
809      diana prince       dprince@jleague.org  102.86.56.203
832  john constantine  jconstantine@jleague.org  102.86.56.203
833        clark kent         ckent@jleague.org  102.86.56.203
836        ray palmer       rpalmer@jleague.org  102.86.56.203
856    barbara gordon       bgordon@jleague.org  102.86.56.203
892      arthur curry        acurry@jleague.org  102.86.56.203
914      diana prince       dprince@jleague.org  102.86.56.203
923      diana prince       dprince@jleague.org  102.86.56.203
930        ray palmer       rpalmer@jleague.org  102.86.56.203
944      dick grayson      dgrayson@jleague.org  102.86.56.203
985      billy batson       bbatson@jleague.org  102.86.56.203
987      dick grayson      dgrayson@jleague.org  102.86.56.203

               to_ip            date_time       lat      long  payload_size
37     102.86.56.213  2016-01-31T22:15:49  46.56542  11.10410        481866
69   155.130.121.215  2016-01-28T22:41:58  45.02786   7.56279         52547
145     60.15.193.95  2016-01-16T23:44:27  48.52327  12.21212        504761
163    60.15.193.249  2016-01-13T00:00:24  45.83372  11.71985        221359
184   75.122.133.241  2016-01-11T00:18:24  46.11758  11.97929        850862
190   75.122.132.124  2016-01-10T00:25:14  48.84730   8.08505        813622
202    102.86.56.199  2016-01-07T00:36:24  48.91310   8.71001        421979
291  106.152.115.161  2015-12-21T01:51:25  48.56061  11.44374        499758
295  155.130.120.114  2015-12-19T01:54:41  48.80965  11.29667        326313
321    60.15.193.249  2015-12-15T02:13:24  49.31863   8.38065        395258
327    102.86.56.213  2015-12-14T02:18:31  47.66026  11.63886        226814
452    75.122.133.10  2015-11-20T04:01:07  46.96531   8.79307        256156
492   75.122.133.241  2015-11-15T04:32:39  49.05915  10.27786        101021
522  155.130.120.114  2015-11-14T04:56:01  46.38176   9.28897        367858
584   169.28.228.153  2015-11-07T05:44:49  45.95119  10.50866        512610
587    102.86.56.199  2015-11-07T05:48:34  46.92099   8.28319        689172
630  106.152.115.161  2015-11-01T06:22:42  45.94674   7.77616        519927
651   169.28.228.152  2015-10-29T06:37:22  49.66393  10.29567        552795
719    155.130.121.6  2015-10-17T07:39:21  45.01578  11.87313         13520
721     60.15.193.95  2015-10-17T07:41:05  46.67638   9.59630        692583
731   190.214.22.201  2015-10-16T07:49:44  46.22202  11.14527        696512
734     60.15.193.95  2015-10-15T07:51:23  46.65573   9.04300        196545
749    60.15.193.249  2015-10-12T08:01:51  48.67137   7.90519        495945
774    60.15.193.250  2015-10-09T08:20:57  46.37485   8.00052        845180
783    190.214.22.94  2015-10-08T08:30:10  45.52089   9.96743        851789
809  106.152.115.161  2015-10-03T08:51:41  48.89443  10.65079        872415
832   169.28.228.152  2015-09-28T09:17:01  48.81186   9.52016        409149
833    75.122.133.75  2015-09-28T09:17:17  45.65393  11.20781        758246
836    220.211.18.12  2015-09-26T09:20:06  46.62979  11.82771        703834
856   190.214.22.116  2015-09-24T09:36:39  46.39997   7.55577        655717
892    102.86.56.213  2015-09-18T10:06:58  45.83204  10.90691        750747
914   155.130.121.22  2015-09-16T10:24:47  47.40972  12.07066        683738
923    106.152.114.9  2015-09-15T10:32:49  45.95015  11.76036        686602
930    60.15.193.250  2015-09-15T10:39:27  46.18091  11.65629        537303
944    75.122.133.10  2015-09-14T10:49:35  49.27199   9.85881        812101
985    106.152.114.9  2015-09-07T11:21:42  49.59466  12.35677          4763
987    220.211.18.12  2015-09-07T11:24:46  47.49435  11.57190        993459  )
('102.86.56.213',                  name                     email          fm_ip  \
34         hal jordan       hjordan@jleague.org  102.86.56.213
45        bruce wayne        bwayne@jleague.org  102.86.56.213
46        kara zor-el       kzor-el@jleague.org  102.86.56.213
62       billy batson       bbatson@jleague.org  102.86.56.213
122    barbara gordon       bgordon@jleague.org  102.86.56.213
164        hal jordan       hjordan@jleague.org  102.86.56.213
177        hal jordan       hjordan@jleague.org  102.86.56.213
209       barry allen        ballen@jleague.org  102.86.56.213
214       dinah lance        dlance@jleague.org  102.86.56.213
242      diana prince       dprince@jleague.org  102.86.56.213
385       kyle rayner       krayner@jleague.org  102.86.56.213
408       kara zor-el       kzor-el@jleague.org  102.86.56.213
423        ray palmer       rpalmer@jleague.org  102.86.56.213
455      dick grayson      dgrayson@jleague.org  102.86.56.213
475        hal jordan       hjordan@jleague.org  102.86.56.213
478       kara zor-el       kzor-el@jleague.org  102.86.56.213
483       kara zor-el       kzor-el@jleague.org  102.86.56.213
488      dick grayson      dgrayson@jleague.org  102.86.56.213
551       kyle rayner       krayner@jleague.org  102.86.56.213
560  john constantine  jconstantine@jleague.org  102.86.56.213
563       kara zor-el       kzor-el@jleague.org  102.86.56.213
598       selina kyle         skyle@jleague.org  102.86.56.213
652       dinah lance        dlance@jleague.org  102.86.56.213
658       selina kyle         skyle@jleague.org  102.86.56.213
660      billy batson       bbatson@jleague.org  102.86.56.213
666       kyle rayner       krayner@jleague.org  102.86.56.213
678       barry allen        ballen@jleague.org  102.86.56.213
681      billy batson       bbatson@jleague.org  102.86.56.213
733       kara zor-el       kzor-el@jleague.org  102.86.56.213
742       dinah lance        dlance@jleague.org  102.86.56.213
773      arthur curry        acurry@jleague.org  102.86.56.213
777        hal jordan       hjordan@jleague.org  102.86.56.213
796        ray palmer       rpalmer@jleague.org  102.86.56.213
828  john constantine  jconstantine@jleague.org  102.86.56.213
829        clark kent         ckent@jleague.org  102.86.56.213
873  john constantine  jconstantine@jleague.org  102.86.56.213
874       barry allen        ballen@jleague.org  102.86.56.213
883       bruce wayne        bwayne@jleague.org  102.86.56.213
947      billy batson       bbatson@jleague.org  102.86.56.213
991    barbara gordon       bgordon@jleague.org  102.86.56.213
996      billy batson       bbatson@jleague.org  102.86.56.213

               to_ip            date_time       lat      long  payload_size
34     102.86.56.213  2016-01-31T22:13:56  45.45445  11.04130        625106
45     220.211.18.31  2016-01-30T22:22:58  49.42008  11.76816        146059
46     220.211.18.31  2016-01-30T22:23:55  49.49383  11.89127        379981
62     190.214.22.59  2016-01-28T22:36:47  45.78046   9.77843         18255
122    102.86.56.213  2016-01-18T23:24:50  48.12756  11.46727        113150
164  155.130.120.114  2016-01-13T00:01:45  45.66950   9.57906         82330
177   190.214.22.201  2016-01-12T00:12:00  48.52764   8.55316        644103
209   169.28.228.152  2016-01-06T00:42:47  48.30336  10.69120        546197
214  106.152.115.130  2016-01-06T00:48:39  49.09847   9.08315         24077
242   106.152.115.49  2016-01-02T01:12:35  48.04349  11.83931         77916
385    75.122.133.10  2015-12-03T03:06:51  46.06614  10.53423        858685
408    102.86.56.243  2015-11-29T03:23:49  49.18896  10.96775        578398
423    220.211.18.12  2015-11-24T03:34:15  47.55809  10.11692        797581
455     60.15.193.95  2015-11-19T04:02:58  49.09030   9.03070        736457
475    102.86.56.213  2015-11-18T04:19:08  46.18072  10.46099        431966
478    190.214.22.59  2015-11-18T04:22:10  46.35679  10.22022        369312
483    220.211.18.12  2015-11-18T04:26:33  49.69896  11.93854        739368
488   169.28.228.153  2015-11-16T04:30:36  45.26033   9.25917        372734
551   169.28.228.153  2015-11-13T05:20:29  48.77673  12.43536        528786
560   106.152.115.49  2015-11-12T05:27:07  47.03790  11.89229        709387
563    220.211.18.12  2015-11-11T05:29:25  47.30400  12.23909        591517
598    75.122.133.10  2015-11-06T05:58:59  49.96652  10.20730        605118
652  155.130.121.215  2015-10-29T06:37:35  48.41309  11.96555        189638
658    220.211.18.12  2015-10-29T06:42:58  48.10692   9.45693        295285
660   75.122.133.241  2015-10-29T06:44:46  47.73574   8.42810        664323
666   75.122.133.241  2015-10-26T06:49:58  48.99076   9.06552        846743
678   75.122.133.241  2015-10-23T07:02:17  49.89051  11.03083        444974
681    190.214.22.94  2015-10-22T07:04:56  45.90089  11.72962        490786
733    102.86.56.213  2015-10-15T07:51:18  47.98665   7.61701        568664
742    220.211.18.48  2015-10-13T07:57:55  45.38445  12.02345         50377
773    75.122.133.75  2015-10-09T08:20:39  46.35916  10.73490         64761
777   75.122.133.241  2015-10-08T08:24:23  49.35853  12.28315        703083
796    102.86.56.243  2015-10-07T08:39:52  48.77548   9.82379        245835
828    102.86.56.203  2015-09-29T09:12:52  45.90700  10.56780        873427
829  155.130.121.215  2015-09-28T09:14:14  46.51062  11.08633        520853
873   75.122.133.241  2015-09-19T09:50:25  46.95822   8.52864        813335
874    75.122.133.10  2015-09-19T09:51:58  45.44846  11.16534        315935
883   169.28.228.152  2015-09-18T09:58:48  49.13719  11.88021        382342
947    102.86.56.203  2015-09-13T10:51:25  48.67458  11.89742        770230
991   169.28.228.153  2015-09-06T11:26:47  48.75553  10.89382        465874
996     60.15.193.95  2015-09-05T11:31:10  46.79957  11.39590        520973  )
('102.86.56.243',                  name                     email          fm_ip  \
36        bruce wayne        bwayne@jleague.org  102.86.56.243
68         hal jordan       hjordan@jleague.org  102.86.56.243
92        bruce wayne        bwayne@jleague.org  102.86.56.243
156       bruce wayne        bwayne@jleague.org  102.86.56.243
211  john constantine  jconstantine@jleague.org  102.86.56.243
252       selina kyle         skyle@jleague.org  102.86.56.243
318       kyle rayner       krayner@jleague.org  102.86.56.243
359       dinah lance        dlance@jleague.org  102.86.56.243
360      dick grayson      dgrayson@jleague.org  102.86.56.243
405        john jones        jjones@jleague.org  102.86.56.243
415       kara zor-el       kzor-el@jleague.org  102.86.56.243
451       selina kyle         skyle@jleague.org  102.86.56.243
519        wally west         wwest@jleague.org  102.86.56.243
540    barbara gordon       bgordon@jleague.org  102.86.56.243
594        hal jordan       hjordan@jleague.org  102.86.56.243
642      arthur curry        acurry@jleague.org  102.86.56.243
667        john jones        jjones@jleague.org  102.86.56.243
680    barbara gordon       bgordon@jleague.org  102.86.56.243
706       barry allen        ballen@jleague.org  102.86.56.243
771    barbara gordon       bgordon@jleague.org  102.86.56.243
806      diana prince       dprince@jleague.org  102.86.56.243
817        wally west         wwest@jleague.org  102.86.56.243
821       dinah lance        dlance@jleague.org  102.86.56.243
872       selina kyle         skyle@jleague.org  102.86.56.243
885       dinah lance        dlance@jleague.org  102.86.56.243
890        clark kent         ckent@jleague.org  102.86.56.243
926      arthur curry        acurry@jleague.org  102.86.56.243
972       dinah lance        dlance@jleague.org  102.86.56.243

               to_ip            date_time       lat      long  payload_size
36    106.152.115.49  2016-01-31T22:15:03  45.67383   9.92100        768775
68      60.15.193.74  2016-01-28T22:41:44  48.79416   8.90141        642984
92    190.214.22.201  2016-01-22T22:59:19  48.80388   8.48954        824481
156     60.15.193.74  2016-01-14T23:52:51  49.22648  10.55247         78313
211    190.214.22.59  2016-01-06T00:44:53  49.63852   9.21294         27741
252   190.214.22.201  2016-01-01T01:19:58  47.61646  10.18531         22414
318    155.130.121.6  2015-12-16T02:11:55  45.69702  10.72966        426306
359  155.130.121.215  2015-12-10T02:49:39  46.34442   8.15245        293665
360    75.122.133.75  2015-12-10T02:50:03  48.20093  12.45789        837516
405   190.214.22.116  2015-11-29T03:21:13  46.70203  12.18954        420762
415    190.214.22.59  2015-11-27T03:27:49  45.82947  11.61329         86193
451    220.211.18.12  2015-11-20T03:59:35  47.37583   9.95475        201670
519  106.152.115.130  2015-11-15T04:52:56  47.21706   8.57127        965580
540    220.211.18.48  2015-11-14T05:12:13  47.26531   8.62355        456300
594    102.86.56.243  2015-11-07T05:55:57  47.61554  11.84071        552649
642   75.122.132.124  2015-10-30T06:31:34  47.00558   8.75246        255796
667    220.211.18.48  2015-10-26T06:51:00  49.38668   7.83137        825636
680    220.211.18.12  2015-10-23T07:03:53  46.31914  10.42388        126390
706   155.130.121.22  2015-10-18T07:27:11  45.52835  12.26881        252781
771   169.28.228.153  2015-10-09T08:17:59  47.83331  11.24736        218188
806    102.86.56.203  2015-10-04T08:48:40  48.52382   9.48900        683055
817   75.122.133.241  2015-10-02T08:58:55  45.22167   8.11608        273470
821    75.122.133.75  2015-09-30T09:03:05  47.09541  11.83602        963479
872   155.130.121.22  2015-09-19T09:49:31  45.08339  10.36971         47952
885  155.130.120.114  2015-09-18T10:00:45  49.61864   9.81863        793975
890    190.214.22.59  2015-09-18T10:05:10  45.52270  11.61655        320772
926   190.214.22.116  2015-09-15T10:36:21  45.21921   7.88725        355356
972  106.152.115.130  2015-09-09T11:12:56  48.26280   9.22047        655572  )
('106.152.114.248',                name                 email            fm_ip            to_ip  \
5        ray palmer   rpalmer@jleague.org  106.152.114.248    102.86.56.203

In [92]:
type(g.get_group('106.152.115.161'))

pandas.core.frame.DataFrame

In [93]:
g.get_group('106.152.115.161').head(10)

,name,email,fm_ip,to_ip,date_time,lat,long,payload_size
1,arthur curry,acurry@jleague.org,106.152.115.161,106.152.114.248,2016-02-08T21:45:37,45.10327,11.68293,249206
124,john constantine,jconstantine@jleague.org,106.152.115.161,106.152.115.49,2016-01-18T23:26:50,46.51786,7.51440,197413
137,john jones,jjones@jleague.org,106.152.115.161,75.122.132.124,2016-01-17T23:39:15,47.59412,11.93051,141543
149,billy batson,bbatson@jleague.org,106.152.115.161,75.122.133.10,2016-01-14T23:48:04,48.42538,10.99307,395075
168,clark kent,ckent@jleague.org,106.152.115.161,106.152.115.130,2016-01-12T00:05:46,47.15144,8.52435,924131
173,barry allen,ballen@jleague.org,106.152.115.161,60.15.193.249,2016-01-12T00:09:58,45.83844,8.21253,621909
188,arthur curry,acurry@jleague.org,106.152.115.161,75.122.133.75,2016-01-11T00:22:31,48.32620,9.66367,15034
201,kara zor-el,kzor-el@jleague.org,106.152.115.161,75.122.133.241,2016-01-08T00:36:08,49.26437,12.09269,760026
210,billy batson,bbatson@jleague.org,106.152.115.161,190.214.22.94,2016-01-06T00:43:44,47.02258,7.75461,389068
259,billy batson,bbatson@jleague.org,106.152.115.161,75.122.132.124,2015-12-31T01:24:57,48.95450,9.75673,503714

In [99]:
def date_only(dt):
    day = dt.split('T')[0]
    return day

In [101]:
logs['date'] = logs['date_time'].apply(date_only)

In [102]:
logs.columns

Index(['name', 'email', 'fm_ip', 'to_ip', 'date_time', 'lat', 'long',
       'payload_size', 'date'],
      dtype='object')

In [103]:
logs.date

0      2016-02-08
1      2016-02-08
2      2016-02-08
3      2016-02-07
4      2016-02-07
          ...
995    2015-09-05
996    2015-09-05
997    2015-09-05
998    2015-09-04
999    2015-09-04
Name: date, Length: 1000, dtype: object

In [104]:
tf = logs.fm_ip == logs.to_ip

In [110]:
tf.head(12)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
dtype: bool

In [106]:
tf.unique()

array([False,  True])

In [107]:
tf.value_counts()

False    967
True      33
dtype: int64

In [108]:
logs[['fm_ip', 'to_ip']].head(12)

              fm_ip            to_ip
0   155.130.121.215   75.122.133.241
1   106.152.115.161  106.152.114.248
2     60.15.193.250  155.130.121.215
3    190.214.22.201   190.214.22.116
4      60.15.193.74     60.15.193.95
5   106.152.114.248    102.86.56.203
6      60.15.193.95  155.130.121.215
7     220.211.18.48   106.152.115.49
8   106.152.114.248   190.214.22.201
9      60.15.193.74  106.152.114.248
10    220.211.18.31    190.214.22.94
11   190.214.22.116   190.214.22.116

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_DataFrame_01.py
```

Follow these steps:

1. Create a pandas `DataFrame` called `na_log` by reading in the csv `log_file_na.csv` and using the names:
    
    ```['name', 'email', 'fm_ip', 'to_ip', 'date_time', 'lat', 'long', 'payload_size']```
1. Get the `payload_size` column and select it and label it as a separate pandas `Series`
1. Run both the `min()` method and the `max()` method on your `Series`
1. Calculate the difference between the two values you get back

Execute your script from the **terminal/command line** using the command:

```bash
ipython -i my_DataFrame_01.py
```

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../universal_images/green_sticky.300px.png' width='200' style='float:left'>

In [ ]:
run soln_dataframe_01.py

# Experience Points!
---

In your **text editor** create a simple script called:

```bash
my_DataFrame_02.py
```

Then do the following

1. Create a pandas dataFrame called `na_log` by reading in the csv `log_file_na.csv` and using the names:
    1. `['name', 'email', 'fm_ip', 'to_ip', 'date_time', 'lat', 'long', 'payload_size']`
1. Print to the screen the content of the two columns: `long` and `lat`
1. Create a new Series that is made up of the **difference** between the value of `long` and the value of `lat`
1. Apply the `round()` function to the Series so that each value is rounded to the nearest full integer
1. Use the `.unique()` method to print out all of the unique values

Execute your script from the **terminal/command line** using the command:

```bash
ipython -i my_DataFrame_02.py
```

When you complete this exercise, please put your green post-it on your monitor. 

If you want to continue on at your own-pace, please feel free to do so.

<img src='../universal_images/green_sticky.300px.png' width='200' style='float:left'>

In [ ]:
(logs.lat - logs.long).apply(round).value_counts()

# BACKUP...

pd.options.display.max_rows = 3
pd.get_option("display.max_rows")